.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
}

.footer-top-left img {
    margin-top: -8px;
}

.footer-top-left {
    font-size: 20px;
    display: flex;
    gap: 25px;
}

.footer-bottom {
    border: none;
    display: flex;
    flex-direction: start;
    justify-content: space-between;
    font-size: 18px;
    padding-left: 0px;
}

.bordered {
    border-top: 1px solid white;
    margin-top: 40px;
}

.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media(max-width:768px) {
    .footer {
        gap: 50px;
        align-items: start;
        margin: 60px 70px;
    }
    .footer-top-left img {
        padding: 0;
    }
    .footer-top-left p {
        font-size: 18px;
        line-height: 32px;
    }
    .footer-bottom {
        gap: 30px;
        font-size: 15px;
    }
    .footer-bottom-right p {
        font-size: 15px;
    }
}